@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  /* Fonts */
  --font-Manrope: "Manrope", sans-serif;

  /* Colors */

  /* Primary */

  --color-primary-10: #DB940D;
  --color-primary-20: #FFD482;
  --color-primary-30: #FFB72F;
  --color-primary-40: #ffb72f1a;
  --color-primary-50: #FFF0D4;
  --color-primary-60: #FFCF72;
  --color-primary-70: #A37D30;

  /* secondary */
  --color-secondary-10: #1a1f2c;

  /* neutral */

  --color-neutral-5: #000;
  --color-neutral-10: #221907;
  --color-neutral-20: #F3F3F3;
  --color-neutral-30: #FAFAFA;
  --color-neutral-40: #281240;
  --color-neutral-45: #FEFDF8;
  --color-neutral-50: #535353;
  --color-neutral-55: #E4E4E4;
  --color-neutral-60: #989897;
  --color-neutral-65: #FEFDF8;
  --color-neutral-70: #fbf6ee;

  /* accent */
  --color-accent-10: #f17556;
  --color-accent-20: #d61349;
  --color-accent-25: #ffcece;
  --color-accent-30: #ae0000;

  /* Shadows */
  --shadow-button: 0 4px 8px 1px rgba(238, 189, 64, 0.40);
  --shadow-hero-user-community-box: 0 0 16px 3px rgba(255, 255, 255, 0.60) inset, 0 4px 8px 1px rgba(238, 189, 64, 0.24);

  /* Gradients */
  --bg-gradient-primary-button: radial-gradient(50% 50% at 50% 0%, rgba(255, 202, 97, 0.60) 0%, rgba(238, 191, 99, 0.00) 100%), linear-gradient(180deg, #EEBF63 0%, #EEBA08 100%);
  --bg-gradient-hero: linear-gradient(180deg, #FEFDF8 20%, #FFF0D4 100%);
  --bg-gradient-app-features: linear-gradient(180deg, #FFF 0%, #FFF9F1 50%, #FFF 100%);
  --bg-gradient-ai-features: linear-gradient(180deg, #FFFCF8 20%, #FFFCF8 60%, #FFF3DB 100%);
}

.bg-gradient-primary-button {
  background: var(--bg-gradient-primary-button);
}
.bg-gradient-hero {
  background: var(--bg-gradient-hero);
}
.bg-gradient-app-features {
  background: var(--bg-gradient-app-features);
}
.bg-gradient-ai-features {
  background: var(--bg-gradient-ai-features);
}

button {
  cursor: pointer;
}

.heading {
    @apply text-neutral-40 text-[66px] font-medium leading-17 font-Manrope;
  }

.description {
    @apply text-neutral-10 text-sm max-w-175 mx-auto font-Manrope;
  }